.product{
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
}
.product  .img{
    width: 100%;
    height: 150px;
}
.product .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details{
    padding: 5px;
}
.details h3{
    margin-bottom: 10px;
    font-size: 14px;
}
.details button{
    margin-top: 5px ;
    padding: 5px 10px;
    background-color: teal;
    color: #ccc;
    border-radius: 3px;
    border: none;
}
.details button:hover{
    background-color: rgba(2,104,104);
}
.btn{
    background-color: #e41313 !important;
}